<ion-view view-title="關注港澳台"> 
  <ion-content scroll="false"> 
   <tab-slide-box tab="0"> 
    <div class="tsb-icons"> 
     <div class="tsb-ic-wrp">
      <div class="list_shadow"></div>
      <div class="tsb-more" ng-click="channels()">
        <span class="icon ion-ios-plus-empty"></span>
      </div>
      <ion-scroll direction="x" class="tsb-hscroll"> 
       <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.text}}</a>
      </ion-scroll> 
     </div> 
    </div> 
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)"> 
      <ion-slide ng-repeat="tab in tabs">
        <ion-scroll style="height:{{ionScrollHeight}}px">
          <ng-include src="tab.template"></ng-include>
        </ion-scroll>
      </ion-slide> 
    </tab-slide-box> 
  </ion-content>
</ion-view>